<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tracy.undead">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="保活"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.tracy.undead.MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.tracy.undead.receiver.WakeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.wake.gray" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.tracy.undead.service.WhiteService"
            android:enabled="true"
            android:exported="false"
            android:process=":white" />
        <service
            android:name="com.tracy.undead.service.GrayService"
            android:enabled="true"
            android:exported="false"
            android:process=":gray" />
        <service
            android:name="com.tracy.undead.service.GrayService$GrayInnerService"
            android:enabled="true"
            android:exported="false"
            android:process=":gray" />
        <service
            android:name="com.tracy.undead.service.BackgroundService"
            android:enabled="true"
            android:exported="false"
            android:process=":bg" />
        <service
            android:name="com.tracy.undead.receiver.WakeReceiver$WakeNotifyService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name="com.tracy.undead.receiver.WakeReceiver$WakeGrayInnerService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
